.header {
  margin-top: 15px;
  background-color: #474955;
  color: #ffffff;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;

  &__id {
    width: 110px;
  }
  &__title {
    width: 529px;
  }
  &__body {
    width: 432px;
  }

  div {
    cursor: pointer;
    display: flex;
    justify-content: center;

    span {
      padding-left: 10px;
    }
    img {
      margin-left: 10%;
    }
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 13px;
  }
}

